[Reference](https://medium.com/@erkansirin/pandas-lift-the-curtain-on-data-types-108ee8fffff7)

In [2]:
data = {
  "user_id": [251],
  "first_name": ["Murat"],
  "last_name": ["Fedai"],
  "nick_name": "Kara Murat",
  "summary": ["Fatih’in fedaisi."],
  "birth_place": ["Çorum"],
  "photo_url": ["/photos/7/000/253/05b/308dd6e.jpg"],
  "served_years_places": [ [ {"year": 1461, "place": "Arnavutluk"},
 {"year": 1464, "place": "Bosna Hersek"}]
],
  "education": [ [ {"school_name": "Çorum Sıbyan Mektebi", "start": 1441, "end": 1445, "city": "Çorum"},
 {"school_name": "Fatih Medresesi", "start": 1455, "end": 1457,   "city": "İstanbul"} 
 ],
],
  "contact_info": [ { "blog": "http://karamuratbenim.com", "twitter": "http://twitter.com/KaraMurat" }],
  "horses": [ '{ "name": "Gelincik"}']
}

In [3]:
import pandas as pd
df = pd.DataFrame(data=data)

In [4]:
df.dtypes

user_id                 int64
first_name             object
last_name              object
nick_name              object
summary                object
birth_place            object
photo_url              object
served_years_places    object
education              object
contact_info           object
horses                 object
dtype: object

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              1 non-null      int64
 1   first_name           1 non-null      object
 2   last_name            1 non-null      object
 3   nick_name            1 non-null      object
 4   summary              1 non-null      object
 5   birth_place          1 non-null      object
 6   photo_url            1 non-null      object
 7   served_years_places  1 non-null      object
 8   education            1 non-null      object
 9   contact_info         1 non-null      object
 10  horses               1 non-null      object
dtypes: int64(1), object(10)
memory usage: 216.0+ bytes

In [6]:
for i in df.columns:
    print(df[i].apply(lambda x: type(x)).head(1))

0    <class 'int'>
Name: user_id, dtype: object
0    <class 'str'>
Name: first_name, dtype: object
0    <class 'str'>
Name: last_name, dtype: object
0    <class 'str'>
Name: nick_name, dtype: object
0    <class 'str'>
Name: summary, dtype: object
0    <class 'str'>
Name: birth_place, dtype: object
0    <class 'str'>
Name: photo_url, dtype: object
0    <class 'list'>
Name: served_years_places, dtype: object
0    <class 'list'>
Name: education, dtype: object
0    <class 'dict'>
Name: contact_info, dtype: object
0    <class 'str'>
Name: horses, dtype: object